*{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    background-color: rgb(240, 240, 240);
    font-family: "Poppins";
    overflow: hidden;
}

.main-heading{
    text-align: center;
    margin-top:1%;
    font-size: 25px;
}

.main-heading-subscript{
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
    color: silver;
}

.first-block{
    height: 150px; 
    width:35%;   
    margin-top: 120px;
    margin-left: 19%;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    border-top: 2px solid hsl(180, 62%, 55%);
    box-shadow: 0 5px 2px hsl(180, 62%,55%) ;
    /* overflow: hidden; */
}

.first-block-header{
    margin-bottom: 8px;
    padding: 20px 0px 0px 20px;

}
.first-block-para{
    margin-bottom: 50px;
    padding:0px 2px 0px 20px;
    font-size: 90%;
    color: silver;
}
.first-block-image{
    position: relative;
    left: 70%;
    top: -40px;
    height: 400%;
    width: 350%;
}


.second-block{
    position: absolute;
    height: 150px;
    width:  35%; 
    margin-top: 40px;
    margin-left: 40%; 
    background-color: white;
    border-radius: 10px;
    border-top: 2px solid hsl(0, 78%, 62%);
    box-shadow: 0 5px 2px hsl(0, 78%, 62%) ;
}

.second-block-header{
    margin-bottom: 10px;
    padding: 20px 0px 0px 20px;

}
.second-block-para{
    margin-bottom: 50px;
    padding:0px 0px 0px 20px;
    font-size: 90%;
    color: silver;
}
.second-block-image{
    position: relative;
    left: 75%;
    top: -40px;
    height: 400%;
    width: 350%;
}



.third-block{
    position: absolute;
    height: 150px;
    width:  35%; 
    margin-top: 210px;
    margin-left: 40%; 
    background-color: white;
    border-radius: 10px;
    border-top: 2px solid hsl(34, 97%, 64%);
    box-shadow: 0 5px 2px hsl(34, 97%, 64%) ;
}

.third-block-header{
    margin-bottom: 10px;
    padding: 20px 0px 0px 20px;

}
.third-block-para{
    margin-bottom: 50px;
    padding:0px 0px 0px 20px;
    font-size: 90%;
    color: silver;
}
.third-block-image{
    position: relative;
    left: 75%;
    top: -40px;
    height: 400%;
    width: 350%;
}



.fourth-block{
    position: absolute;
    height: 150px;
    width:  35%; 
    margin-top: 120px;
    margin-left: 61%; 
    background-color: white;
    border-radius: 10px;
    border-top: 2px solid hsl(212, 86%, 64%);
    box-shadow: 0 5px 2px hsl(212, 86%, 64%) ;
}

.fourth-block-header{
    margin-bottom: 10px;
    padding: 20px 0px 0px 20px;

}
.fourth-block-para{
    margin-bottom: 50px;
    padding:0px 2px 0px 20px;
    font-size: 90%;
    color: silver;
}
.fourth-block-image{
    position: relative;
    left: 75%;
    top: -40px;
    height: 400%;
    width: 350%;
}

.attribution{
    margin-top: 420px;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 18.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  @media only screen and (max-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 18.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
